body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#background-video{
    background: rgba(0, 0, 0, 0.7) ;
    position: absolute;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
}
.video-overlay{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0;
}
.title-header{
    position: relative;
    width: fit-content;
    height: fit-content;
    border-bottom: 3px solid gold;
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 5%;
}
.title-header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color: beige;
    cursor: pointer;
}


.navbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: rgba(0, 0, 0,5);
    color: beige;
    height: 50px;
    border-bottom: 3px solid gold;
}
.navbar-links{
    display: flex; 
    margin: 0;
    padding: 0;
    list-style: none;
}
.navbar-links a{
    color: beige;
    text-decoration: none;
    margin-left: 100px;
}
.navbar-links a:hover{
    border-radius: 20px;
    border-bottom: 3px solid gold;
}
.logo p{
    font-size: 25px;
    font-weight: bolder;
    text-align: right;
    color: beige;
    cursor: pointer;
}
.navbar-toggle{
    display: none;
    font-size: 28px;
    cursor: pointer;
}
.content-detail{
    position: relative;
    margin-top: 10%;
    margin-left: 8%;
    margin-bottom: 10%;
    width: 80%;
    height: 30%;
    border-top: 3px solid gold;
    border-bottom: 3px solid gold;
    display: flex;
}
.heading-text{
    width: 20%;
    height: 100%;
    border-right: 3px solid gold;
}
.heading-text p{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
    color: beige;
    cursor: pointer;
}
.heading-text p:hover{
    text-decoration: underline gold double;
}
.detail-text{
    width: 75%;
    height: 100%;
}
.detail-text p{
    margin-left: 20px;
    margin-top: 5%;
    color: beige;
    font-size: 18px;
}

.our-team p{
    font-size: 40px;
    text-align: center;
    color: beige;
    text-decoration: gold solid 3px underline;
    position: relative;
}

.slider{
    width: 100%;
    max-width: 90%;
    overflow: hidden;
    border: 3px solid gold;
    border-radius: 10px;
    margin-left: 5%;
    margin-bottom: 5%;
}
.slides{
    display: flex;
    transition: transform 0.20s ease-in-out;
}
.slides img{
    width: fit-content;
    height: 500px;
    border: 3px solid black;
}

.footer-content p{
    border-top: 3px gold solid;
    color: black;
    text-align: center;
    position: relative;
    padding-top: 5px;
}




/* About Page Styling Start From Here */

.hero-header{
    width: 100%;
    height: 400px;
    top: 0;
    padding: 0;
    background-color: transparent;
}
.hero-header img{
    position: relative;
    display: inline-block;
    width: 100%;
    max-height: 400px;
    z-index: -1;
    filter: brightness(50%);
}
.hero-overlayer{
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: fit-content;
    top: 120px;
    z-index: 0;
}
.hero-overlayer p{
    font-size: 50px;
    text-shadow: 5px 15px 10px bisque;
    text-align: center;
    color: beige;
    margin-top: 15%;
}
.heading{
    text-align: center;
    margin-top: 5%;
    font-size: 30px;
    bottom: 5%;
    text-decoration: underline 3px gold;
}
.detail-part{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
    background: beige;
}
.feculty-content{
    width: 100%;
    height: auto;
    background: url(./assets/images/examhall.jpg) rgba(0, 0, 0, 0.5) ;
    background-blend-mode: darken;
    background-size: cover;
    color: beige;
    padding: 1px;
    overflow: hidden;
    padding-bottom: 20px;
}
.feculty-member{
    width: 18%;
    height: auto;
    margin-top: 7%;
    margin-left: 5%;
    border: 3px gold solid;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    float: left;
}
.feculty-member img{
    max-width: 100%;
    height: 40vh;
}
.contact-container{
    height: 400px;
    width: 100%;
    background: url(./assets/images/contactbg.jpg) rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
    padding: 7% 0;
}
.contact{
    float: left;
}
.contact-inputs{
    list-style: none;
    margin-left: 5%;
    color: beige;
    font-size: 20px;
}
.contact-inputs li{
    margin: 20px 5px;
}
.contact-inputs li label{
    color: gold;
}
.contact-inputs li input{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    margin-left: 10px;
    border: 3px solid gold;
    background-color: beige;
}
.contact-inputs li textarea{
    width: 500px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid gold;
}
.btn-submit{
    width: 250px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    margin-left: 30%;
    border: 3px solid gold;
    border-radius: 10px;
    background-color: black;
    color: beige;
    font-size: 20px;
    cursor: pointer;
}

.map-container{
    float: right;
    width: 45%;
    border-radius: 10px;
    border: 3px solid gold;
    margin-right: 20px;
}
.map-container iframe{
    border-radius: 10px;
    margin: 5px;
}



/*Admission Page Styling Start*/
.admission-container{
    position: relative;
}
.admission-form{
    margin-left: 20%;
    margin-top: 5%;
}
.form-metarial {
    list-style: none;
    color: beige;
    font-size: 25px;
    font-weight: 5px;
}
.form-metarial li{
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-metarial-input{
    width: 700px;
    height: 30px;
    padding: 5px;
    margin-left: 10px;
    border: 3px solid gold;
    border-radius: 15px;
}
.sub-btn{
    width: 300px;
    height: 60px;
    margin-top: 20px;
    margin-left: 38%;
    margin-bottom: 20px;
    padding: 5px;
    border: 3px solid gold;
    border-radius: 15px;
    background: black;
    color: beige;
    font-size: 20px;
    font-weight: 5px;
    cursor: pointer;
}


/* Responsive Styling Start From Here*/
@media (max-width: 768px) {
    .navbar-links {
        position: fixed;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20%;
        background-color: black;
        width: 100%;
        text-align: left;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-links li {
        margin: 10px 0;
    }
    .navbar-links li:hover{
        border-bottom: 3px solid gold;
        border-radius: 15px;
    }
    .title-header{
        width: 100%;
        margin-left: 1px;
    }

    .title-header p{
        font-size: 28px;
    }

    .content-detail{
        margin-left: 0;
        display: inline;
        border: none;
    }
    .heading-text{
        margin-left: 45%;
        border-bottom: 3px solid gold;
        border-right: none;
        text-decoration: solid underline gold 3px;
        display: inline;
    }
    .detail-text{
        font-size: 20px;
        text-align: center;
        margin-left: 10%;
    }
    .slider{
        margin-left: 10%;
    }


    /* About Us Page Responsive Styling*/

    .hero-header img{
        height: 400px;
    }
    .hero-overlayer{
        margin-top: 25%;
    }
    #first-image, #second-image, #third-image, #fourth-image{
        width: 80%;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
    .feculty-member img{
        height: auto;
    }
    .feculty-content{
        padding: 5px;
    }

    #contact-container{
        height: 1000px;
        padding-bottom: 20px;
    }
    #contact{
        width: 90%;
        margin-top: 5%;
        float: none;
    }
    #contact-inputs li input, #contact-inputs li textarea{
        width: 200px;
    }
    #btn-submit{
        margin-left: 40px;
    }
    #map-container{
        float: right;
        margin-left: 0;
        margin-top: 20%;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    #map-container iframe{
        width: 90%;
        margin: 5%;
    }
    

    /*Admission Page Responsive styling Start*/

    .admission-container{
        width: 90%;
        margin: 10% 5%;
    }
    .admission-form{
        margin-left: -5%;
    }
    .form-metarial li{
        font-size: 20px;
    }
    .form-metarial-input{
        width: 250px;
        margin-left: 0;
        margin-right: 2%;
    }
    .sub-btn{
        width: 250px;
        font-size: 18px;
        margin-left: 3%;
    }
    
}